@font-face {
    font-family: "Helvetica Neue LT Com";
    src: url("http://db.onlinewebfonts.com/t/4bfcbca43f8e9ab6573aff70d9d3d39c.eot");
    src: url("http://db.onlinewebfonts.com/t/4bfcbca43f8e9ab6573aff70d9d3d39c.eot?#iefix") format("embedded-opentype"), url("http://db.onlinewebfonts.com/t/4bfcbca43f8e9ab6573aff70d9d3d39c.woff2") format("woff2"), url("http://db.onlinewebfonts.com/t/4bfcbca43f8e9ab6573aff70d9d3d39c.woff") format("woff"), url("http://db.onlinewebfonts.com/t/4bfcbca43f8e9ab6573aff70d9d3d39c.ttf") format("truetype"), url("http://db.onlinewebfonts.com/t/4bfcbca43f8e9ab6573aff70d9d3d39c.svg#Helvetica Neue LT Com") format("svg");
}
@font-face {
    font-family: "Etharnig";
    src: url('./font/EtharnigSc.woff');
}
body {
    background-image: url('./images/header-bg.jpg');
    background-attachment: fixed;
    color: white;
    font-size: 20px;
    font-family: "Etharnig";
    font-weight: bold;
    text-align: center;
}
#progress {
  margin: 20px;
  width: 200px;
  height: 200px;
  margin: 0 auto 0 auto;
}
#guard-em {
    background-color: #67809F;
    font-size: 20px;
    font-weight: 100;
}
#go-patrol {
    background-color: #67809F;
    font-size: 20px;
    font-weight: 100;
}
#gtime-edit {
    background-color: #67809F;
    font-size: 20px;
    font-weight: 100;
}
#ptime-edit {
    background-color: #67809F;
    font-size: 20px;
    font-weight: 100;
}
#setup {
    background-color: #3A539B;
    font-size: 20px;
    font-weight: 200;
}
#guard-time {
    font-size: 20px;
    color: white;
    text-align: center;
}
#patrol-time {
    font-size: 20px;
    color: white;
    text-align: center;
}
#stop {
  font-size: 20px;
  color: white;
  text-align: center;
  background-color: #D2527F;
}
#histories {
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    height: 300px;
}
#threats {
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}
